<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Labels</title>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEqNTG0Zdyenv3o83wGccNscPq45LTNOs&callback=initMap"></script>
    <script>
      // In the following example, markers appear when the user clicks on the map.
      // Each marker is labeled with a single alphabetical character.
      var labelIndex = 0;

      function initialize() {
        var amman = { lat: 31.94517062781858, lng: 35.92632293701172 };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: amman
        });

        // This event listener calls addMarker() when the map is clicked.
        google.maps.event.addListener(map, 'click', function(event) {
          addMarker(event.latLng, map);
        });

      }
      var marker = null;
      var state = false;
      // Adds a marker to the map.
      function addMarker(location, map) {
        // Add the marker at the clicked location, and add the next-available label
        // from the array of alphabetical characters.
        if(!state){
          marker = new google.maps.Marker({
            position: location,
            map: map
          });
          console.log(location+"")
          state=!state;
        }else{
          marker.setMap(null);
          state=!state;
        }
      }


      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
<form ng-submit="CreateEvent()"  name="Create-event" class="col-md-4  animate-box fadeInRight animated-fast" style="    border-style: dotted solid dashed;border-color: #2fe9f9 #2fe9f9; "  >


    <input placeholder="Event Name"  type='text' ng-model='event.eventName' class="form-control ng-pristine ng-untouched ng-valid ng-empty" required>

    <input placeholder="Location" type="text" ng-model='event.location' class="form-control ng-pristine ng-untouched ng-valid ng-empty" required>

    <input placeholder="Date" type="date" ng-model='event.date' class="form-control ng-pristine ng-untouched ng-valid ng-empty" required>

    <input placeholder="cost" type="text" ng-model='event.cost' class="form-control ng-pristine ng-untouched ng-valid ng-empty" required>

    <input placeholder="Website" type="text" ng-model='event.orgWebsite' class="form-control ng-pristine ng-untouched ng-valid ng-empty" required>

    <input placeholder="Mobile" type="text" ng-model='event.orgMob' class="form-control ng-pristine ng-untouched ng-valid ng-empty" required>

    <select style="color:#ff9900" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="event.type" ng-options="opt for opt in eventType" required>

      <option disabled selected value> choose type</option>
    </select>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
    <div id="map" style="width:400px;height:400px;"></div>
  </body>
</html>
