

    <div>

   <form ng-submit="CreateEvent()"  name="Create-event" class="col-md-4  animate-box fadeInRight animated-fast" style="    border-style: dotted solid dashed;border-color: #2fe9f9 #2fe9f9; "  >
    <input placeholder="Event Name"  type='text' ng-model='event.eventName' class="form-control ng-pristine ng-untouched ng-valid ng-empty" required>
    <input placeholder="Location" type="text" ng-model='event.location' class="form-control ng-pristine ng-untouched ng-valid ng-empty" required>
    <input placeholder="Date" type="date" ng-model='event.date' class="form-control ng-pristine ng-untouched ng-valid ng-empty" required>
    <input placeholder="cost" type="text" ng-model='event.cost' class="form-control ng-pristine ng-untouched ng-valid ng-empty" required>
        <input placeholder="Website" type="text" ng-model='event.orgWebsite' class="form-control ng-pristine ng-untouched ng-valid ng-empty" required>
            <input placeholder="Mobile" type="text" ng-model='event.orgMob' class="form-control ng-pristine ng-untouched ng-valid ng-empty" required>
            <select class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="event.type" ng-options="opt for opt in eventType" required>
  <option disabled selected value> choose type</option>
  </select>

    <button type="submit" class="btn btn-primary">Create</button>
  </form>
  <div ng-repeat="event in why.events"  >
  <div >
  </div>


<div class="container" >
        <div class="row">
            <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                <ul class="event-list">
                    <li>
            <time datetime="">
            
              <span class="day">{{event.date}}</span>
            </time>
            <div class="info">
              <h2 class="title">{{event.eventName}}</h2>
              <p class="desc"><img style="width: 5%;height: 5%" src="http://www.freeiconspng.com/uploads/red-location-icon-1.png"> {{event.location}}</p>
              <p class="desc">Mobile : {{event.orgMob}}</p>
              <ul>
                <li style="width:50%;"><a ng-href="http://{{event.orgWebsite}}"><span class="fa fa-globe"></span> Website</a></li>
                <li style="width:50%;"><span class="fa fa-money"></span> ${{event.cost}}</li>
              </ul>
            </div>
          
          </li>

                </ul>
            </div>
        </div>
 </div>





 </div>
 
</div>

