<div id='signup'>
  <h1>Signup</h1>
  <form name="signupForm" class="col-md-4  animate-box fadeInRight animated-fast" ng-submit="OrgnizerSignup()" style=" border-style: dotted solid dashed;border-color: #f3ff14 #ff007f;" >
    <input placeholder="OrgName" type='text' name="org.orgName" ng-model='name' class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-minlength="3" ng-maxlength="8" required>
    <input placeholder="Email"    type="email" ng-model='org.email' class="form-control ng-pristine ng-untouched ng-valid ng-empty" required>
    <input placeholder="Password" type="password" ng-model='org.password' class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-minlength="5" ng-maxlength="15"   required >
    <button type="submit" class="btn btn-primary logout ">Signup</button>
  <a href="#/OrgSignin">Already have an account? <strong>Signin</strong> ...</a>
  </form>

</div>
