<div id="page">	
	<div class="page-inner">
		<nav class="gtco-nav" role="navigation"></nav>
		<header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url(app/auth/images/img_4.jpg)">
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="row row-mt-15em">
							<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
								<span class="intro-text-small">n3n3 company</span>
								<h1>Summer Is comming !</h1>	
							</div>
							<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
								<div class="form-wrap">
									<div class="tab">
										<ul class="tab-menu">
											<li class="active gtco-first"><a href="#" data-tab="signup">Organizer Login</a></li>
											<li class="gtco-second"><a href="#" data-tab="login">User Login</a></li>
										</ul>
										<div class="tab-content">
											<div class="tab-content-inner active" data-content="signup">
												<form action="#">
													<div class="row form-group">
														<div class="col-md-12">
															<label for="username">Email</label>
															<input type="text" class="form-control" id="username" ng-model='org.email' required>
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<label for="password">Password</label>
															<input type="password" class="form-control" id="password" ng-model='org.password' required>
														</div>
													</div>
													<div class="row form-group">
														<div class="col-md-12">
															<button ng-click="OrgSignin()"  class="btn btn-primary">Login</button>
															<br>
															<a href="#/OrgSignup">Don't have an account? <strong>Create one</strong> ...</a>

<!-- 
	<input type="submit" class="btn btn-primary" value="Signup" style="float: right;" href="features.html" > -->
</div>
</div>
</form>	
</div>

<div class="tab-content-inner" data-content="login">
	<form action="#">
		<div class="row form-group">
			<div class="col-md-12">
				<label for="username">Email</label>
				<input type="text" class="form-control" id="username" ng-model='user.email' required>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-md-12">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" ng-model='user.password' required >
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-12">
				<!-- <input type="submit" class="btn btn-primary" value="Login"> -->
				<button ng-click="userSignin()"  class="btn btn-primary">Login</button>
				<br>

				<a href="#/userSignup">Don't have an account? <strong>Create one</strong> ...</a>

				<!-- 	<input type="submit" onclick="features.html" class="btn btn-primary" value="Signup" style="float: right;"> -->


			</div>
		</div>
	</form>	
</div>

</div>
</div>
</div>
</div>
</div>


</div>
</div>
</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<script src="app/auth/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="app/auth/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="app/auth/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="app/auth/js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="app/auth/js/owl.carousel.min.js"></script>
<!-- Magnific Popup -->
<script src="app/auth/js/jquery.magnific-popup.min.js"></script>
<script src="app/auth/js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="app/auth/js/main.js"></script>