<!DOCTYPE html>
<html >
  <head>

    <meta charset="utf-8" />
    <title>User Profile</title>
  </head>
  <body>
    <div>
      <form name="Create-event"  >
    <input placeholder="Event Name"  type='text' ng-model='event.eventName'>
    <input placeholder="Event type :music,sport or tech  "    type="text" ng-model='event.type'>
    <input placeholder="Location" type="text" ng-model='event.location'>
    <input placeholder="Date" type="text" ng-model='event.date'>
    <input placeholder="cost" type="text" ng-model='event.cost'>
    <button ng-click="CreateEvent()">Create</button>
  </form>
</div>
    
   
</html>
